h1
{font-size: 25px;
    background-color: violet;


text-align: center;
}

div
{

margin-left: 180px;
margin-bottom: 50px;

}

div2
{
color: slateblue;
}

div0
{
color: slateblue;
}

div5
{
color: slateblue;
}
div6
{
color: slateblue;
}
div3
{
color: slateblue;
}

div7
{
    color: slateblue;
}

#black
{
color: yellow;
}